@model IEnumerable<Staff>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-3">
            <a asp-controller="Staff" asp-action="Index" class="text-decoration-none">
                <h2 class="text-primary">Список сотрудников</h2>
            </a>
        </div>
        <div class="col-4 text-end">
            @if (ViewBag.HasAccess != null && ViewBag.HasAccess)
            {
                <a asp-controller="Staff" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Добавить нового сотрудника
                </a>
            }
            else
            {
                <a asp-controller="Staff" asp-action="Create" class="btn btn-outline-secondary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Добавить нового сотрудника
                </a>
            }
        </div>
        <div class="col-5 text-end">
            <form class="d-flex" method="get" asp-controller="Staff" asp-action="Search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="searchString">
                <button class="btn btn-primary" type="submit">Найти</button>
            </form>
            <a asp-controller="Staff" asp-action="ExportToExcel" class="btn btn-secondary">
                Экспортировать таблицу сотрудников
            </a>
        </div>
    </div>
    <br /><br />

    <form class="d-flex" method="get">
    <table class="table table-boarded table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Фамилия
                </th>
                <th>
                    Имя
                </th>
                <th>
                    Отчество
                </th>
                <th>
                    Должность
                </th>
                <th>
                    Дата найма
                </th>
                <th>
                    Номер телефона
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="13%" class="table-cell">
                        @obj.EmployeeSurname
                    </td>
                    <td width="13%" class="table-cell">
                        @obj.EmployeeName
                    </td>
                    <td width="13%">
                        @obj.EmployeePatronymic
                    </td>
                    <td width="20%">
                        @if (obj.PostNavigation != null)
                        {
                            @obj.PostNavigation.Post1
                        }
                    </td>
                    <td width="10%">
                        @obj.DateOfHiring.Date.ToString("yyyy-MM-dd")
                    </td>
                    <td width="10%">
                        @obj.Phone
                    </td>
                    <td width="20%">
                        <div class="w-75 btn-group" role="group">
                            @if (ViewBag.HasAccess == null || ViewBag.HasAccess)
                            {
                                <a asp-controller="Staff" asp-action="Edit" asp-route-id="@obj.EmployeeId"
                                    class="btn btn-primary mx-2"> <i class="bi bi-pencil"></i>Изменить</a>
                                <a asp-controller="Staff" asp-action="Delete" asp-route-id="@obj.EmployeeId"
                                    class="btn btn-danger mx-2"> <i class="bi bi-trash3"></i>Удалить</a>
                            }
                            else if (!ViewBag.HasAccess)
                            {
                                <a asp-controller="Staff" asp-action="Edit" asp-route-id="@obj.EmployeeId"
                                    class="btn btn-outline-primary"> <i class="bi bi-pencil"></i>Изменить</a>
                                <a asp-controller="Staff" asp-action="Delete" asp-route-id="@obj.EmployeeId"
                                       class="btn btn-outline-danger"> <i class="bi bi-trash3"></i>Удалить</a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </form>
 </div>
    
<style>
    .table-cell {
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>


